*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right, #031a08de, #0cf045fd);
}

.calculator-grid{
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #031a08de;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
.calculator-grid > button:hover{
    color: #0cf045fd;
    background-color: #fff;
}
.calculator-grid > button:focus{
    background-color: rgba(255, 255, 255, .9);
}

.spantwo{
    grid-column: span 2;
}
.output{
    grid-column: 1/ -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    color:whitesmoke;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}
.output .prevoper{
color: rgba(255, 255, 255, .75);
font-size: 1.5rem;

}
.output .curroper{
    color: whitesmoke;
    font-size: 2.5rem;
}

/*BMI CALCULATOR*/
 
  .bmi-container {
    background: white;
    max-Width: "400px";
    padding: 40px;
    margin-bottom: 200px;
    margin-top: 50px;
    margin-left:480px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 388px;
  }
  
  h2 {
    color: #333;
  }
  .both-grid{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }
  .input-group {
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: space-between;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 50%;
    padding: 15px;
    height: 75%;
    margin-left: 5px;
    border: 1px solid #031a08de;
    border-radius: 15px;
  }
  
.calc {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .calc:hover {
    background-color: #218838;
  }
  
  .result {
    margin-top: 20px;
    font-size: 25px;
    color : #031a08de;
  }
  